{% extends 'codeBlog/base.html'%}
{% block content %}

    <!-- Page content-->
    <div class="container mt-5" >
        <div class="row align-items-center">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">

                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Welcome to my Code Diary!</h1>


                    </header>
                  <!-- Post content-->
                    <section class="mb-5">
                      <div class="card bg-light">
                        <div class="card-body">
                          <p class="fs-5 mb-4"> Welcome to my code diary. This website is for personal use for documenting my coding journey.</p>
                          <p class="fs-5 mb-4">On this website you will see posts of coding skills I am learning, projects I am currently working on, or posts on things I find interesting related to coding.</p>
                          <p class="fs-5 mb-4">This app was created using the Django Framework. The languages that you see on this app are Python, HTML, and CSS. By using the starter BootStrap template I saved myself a lot of time. Instead of creating the HTML and CSS from scratch I was able to edit the template to the way I wanted it to look like.</p>


                        </div>
                      </div>
                    </section>
                </article>
              </div>

            </div>

          </div>

{% endblock %}
